


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../playlist.css">
    </head>
<body>

    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../01. Mapa do Sucesso MFM/1. Como funciona o método da MFM.mp4" loop controls class="main-video"></video>
                <h3 class="main-vid-title">1. Como funciona o método da MFM
                </h3>
            </main-video-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../01. Mapa do Sucesso MFM/1. Como funciona o método da MFM.mp4" class="list-video"></video>
                    <h3 class="list-title">1. Como funciona o método da MFM
                    </h3>
                </list>
            
                <list class="active">
                    <video src="../../01. Mapa do Sucesso MFM/2. Como ter resultados com a MFM.mp4" class="list-video"></video>
                    <h3 class="list-title">2. Como ter resultados com a MFM
                    </h3>
                </list>
            
                <list class="active">
                    <video src="../../01. Mapa do Sucesso MFM/3. Anote todas as aulas.mp4" class="list-video"></video>
                    <h3 class="list-title">3. Anote todas as aulas
                    </h3>
                </list>
            
                <list class="active">
                    <video src="../../01. Mapa do Sucesso MFM/4. Regras da Mentoria.mp4" class="list-video"></video>
                    <h3 class="list-title">4. Regras da Mentoria
                    </h3>
                </list>
            
            </video-playlist-holder>
        
        </video-holder>
    </home>

    <script src="../playlist.js"></script>
</body>
</html>