


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../playlist.css">
    </head>
<body>

    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../09. Tráfego Pago Black 20-09-22/01. Criando um criativo Black.mp4" loop controls class="main-video"></video>
                <h3 class="main-vid-title">01. Criando um criativo Black
                </h3>
            </main-video-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../09. Tráfego Pago Black 20-09-22/01. Criando um criativo Black.mp4" class="list-video"></video>
                    <h3 class="list-title">01. Criando um criativo Black
                    </h3>
                </list>
            
                <list>
                    <video src="../../09. Tráfego Pago Black 20-09-22/02. O que fazer caso seu anúncio seja rejeitado.mp4" class="list-video"></video>
                    <h3 class="list-title">02. O que fazer caso seu anúncio seja rejeitado
                    </h3>
                </list>
            
                <list>
                    <video src="../../09. Tráfego Pago Black 20-09-22/03. Anunciando nicho Black na Conta Pessoal.mp4" class="list-video"></video>
                    <h3 class="list-title">03. Anunciando nicho Black na Conta Pessoal
                    </h3>
                </list>
            
            </video-playlist-holder>
        
        </video-holder>
    </home>

    <script src="../playlist.js"></script>
</body>
</html>