


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../playlist.css">
    </head>
<body>

    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/1. Como conquistar o seu sucesso.mp4" loop controls class="main-video" data-overlay="1" data-color="#ffab00" data-ckin="compact" ></video>
                <h3 class="main-vid-title">1. Como conquistar o seu sucesso
                </h3>
            </main-video-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/1. Como conquistar o seu sucesso.mp4" class="list-video"></video>
                    <h3 class="list-title">1. Como conquistar o seu sucesso
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/2. Como nunca desistir.mp4" class="list-video"></video>
                    <h3 class="list-title">2. Como nunca desistir
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/3. Como saber se estou no caminho certo.mp4" class="list-video"></video>
                    <h3 class="list-title">3. Como saber se estou no caminho certo
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/4. Você colhe o que você planta.mp4" class="list-video"></video>
                    <h3 class="list-title">4. Você colhe o que você planta
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/5. Hábitos milionários.mp4" class="list-video"></video>
                    <h3 class="list-title">5. Hábitos milionários
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/6. Quem reclama não prospera.mp4" class="list-video"></video>
                    <h3 class="list-title">6. Quem reclama não prospera
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/7. Como transformar sua realidade da noite pro dia.mp4" class="list-video"></video>
                    <h3 class="list-title">7. Como transformar sua realidade da noite pro dia
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/8. Pratique a lei da atração.mp4" class="list-video"></video>
                    <h3 class="list-title">8. Pratique a lei da atração
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/02. Mindset Milionário/9. Seja paciente - A mentoria não vai ser entregue em 1 dia.mp4" class="list-video"></video>
                    <h3 class="list-title">9. Seja paciente - A mentoria não vai ser entregue em 1 dia
                    </h3>
                </list>
            
            </video-playlist-holder>
        
        </video-holder>
    </home>

    <script src="../../playlist.js"></script>
</body>
</html>