


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../playlist.css">
    </head>
<body>
    
    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/1. Como a estratégia funciona.mp4" loop controls class="main-video"></video>
                <h3 class="main-vid-title">1. Como a estratégia funciona.mp4
                </h3>
            </main-video-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/1. Como a estratégia funciona.mp4" class="list-video"></video>
                    <h3 class="list-title">1. Como a estratégia funciona.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/2. Como conseguir clientes pela internet.mp4" class="list-video"></video>
                    <h3 class="list-title">2. Como conseguir clientes pela internet.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/3. Como conseguir clientes presencialmente.mp4" class="list-video"></video>
                    <h3 class="list-title">3. Como conseguir clientes presencialmente.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/4. Qual é a proposta para o cliente.mp4" class="list-video"></video>
                    <h3 class="list-title">4. Qual é a proposta para o cliente.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/5. O que fazer se você não conseguir marcar reuniões.mp4" class="list-video"></video>
                    <h3 class="list-title">5. O que fazer se você não conseguir marcar reuniões.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/6. Como configurar o Facebook do seu cliente.mp4" class="list-video"></video>
                    <h3 class="list-title">6. Como configurar o Facebook do seu cliente.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/7. Estratégia para gerar resultados para seu cliente.mp4" class="list-video"></video>
                    <h3 class="list-title">7. Estratégia para gerar resultados para seu cliente.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/8. Como criar anúncios para seu cliente – independente do nicho.mp4" class="list-video"></video>
                    <h3 class="list-title">8. Como criar anúncios para seu cliente – independente do nicho.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/9. Como subir as campanhas no Facebook Ads.mp4" class="list-video"></video>
                    <h3 class="list-title">9. Como subir as campanhas no Facebook Ads.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/10. Como escalar essa estratégia.mp4" class="list-video"></video>
                    <h3 class="list-title">10. Como escalar essa estratégia.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/10. Como escalar essa estratégia.mp4" class="list-video"></video>
                    <h3 class="list-title">10. Como escalar essa estratégia.mp4
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/04. Levantar Caixa Rápido/12. Aula bônus de Análise de métricas com Bruno Soares.mp4" class="list-video"></video>
                    <h3 class="list-title">12. Aula bônus de Análise de métricas com Bruno Soares.mp4
                    </h3>
                </list>
            
            </video-playlist-holder>
        
        </video-holder>
    </home>

    <script src="../../playlist.js"></script>
</body>
</html>