


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../playlist.css">
    </head>
<body>

    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/1. O Facebook vai te bloquear.mp4" loop controls class="main-video"></video>
                <h3 class="main-vid-title">1. O Facebook vai te bloquear
                </h3>
            </main-video-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/1. O Facebook vai te bloquear.mp4" class="list-video"></video>
                    <h3 class="list-title">1. O Facebook vai te bloquear</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/2. O que é contingência + Mindset contingência.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">2. O que é contingência + Mindset contingência</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/3. Como conseguir perfis de Facebook.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">3. Como conseguir perfis de Facebook</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/4. O que é um Multilogin.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">4. O que é um Multilogin</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/5. Conheça o supervisor de contingência do Kayky.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">5. Conheça o supervisor de contingência do Kayky</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/6. Como funciona o nosso plano de contingência.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">6. Como funciona o nosso plano de contingência</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/6.1 - Como comprar perfis de fornecedores.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">6.1 - Como comprar perfis de fornecedores</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/6.2 - Como comprar ou emprestar perfis de amigos.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">6.2 - Como comprar ou emprestar perfis de amigos</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/6.3 - Como comprar perfis pelos classificados.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">6.3 - Como comprar perfis pelos classificados</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/7. Como redefinir a senha no Facebook.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">7. Como redefinir a senha no Facebook
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/8. Como logar em perfis comprados.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">8. Como logar em perfis comprados
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/9. O que é aquecimento de perfis.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">9. O que é aquecimento de perfis
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/10. Opções de multilogin.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">10. Opções de multilogin
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/10.1 Como usar o Dolphin.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">10.1 Como usar o Dolphin
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/10.2 Como usar o Incogniton.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">10.2 Como usar o Incogniton
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/11. Como usar o 4G.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">11. Como usar o 4G
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/12. Aquecimento de Perfis Comprados.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">12. Aquecimento de Perfis Comprados
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/13. Aquecimento de Perfis Criados.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">13. Aquecimento de Perfis Criados
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/14. Aquecimento de Página.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">14. Aquecimento de Página
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/15. Aquecimento de BM e Conta de Anúncio.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">15. Aquecimento de BM e Conta de Anúncio
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/16. Não cruze dados.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">16. Não cruze dados
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/17. Como organizar sua Contingência.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">17. Como organizar sua Contingência
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/18. Como automatizar sua contingência.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">18. Como automatizar sua contingência
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/19. Como resolver bloqueio de Atividade Incomum.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">19. Como resolver bloqueio de Atividade Incomum
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/20. Como resolver bloqueio de restrição de publicidade.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">20. Como resolver bloqueio de restrição de publicidade
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/05. Contingência - A Base/EXTRA - Como usar o BOT do Telegram.mp4" class="list-video" preload="none"></video>
                    <h3 class="list-title">EXTRA - Como usar o BOT do Telegram
                    </h3>
                </list>
            
            </video-playlist-holder>
        
        </video-holder>
    </home>

    <script src="../../playlist.js"></script>
</body>
</html>