


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../playlist.css">
    </head>
<body>

    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/0. Quem são os gestores.mp4" loop controls class="main-video" data-overlay="1" data-color="#ffab00" data-ckin="compact" ></video>
                <h3 class="main-vid-title">0. Quem são os gestores</h3>
            </main-video-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/0. Quem são os gestores.mp4" class="list-video"></video>
                    <h3 class="list-title">0. Quem são os gest</h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/1. O que é tráfego pago.mp4" class="list-video"></video>
                    <h3 class="list-title">1. O que é tráfego pago
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/2. Explicando todas as nomenclaturas.mp4" class="list-video"></video>
                    <h3 class="list-title">2. Explicando todas as nomenclaturas
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/3. Quais são as fontes de tráfego e qual vamos usar.mp4" class="list-video"></video>
                    <h3 class="list-title">3. Quais são as fontes de tráfego e qual vamos usar
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/4. Como criar uma BM e configurá-la.mp4" class="list-video"></video>
                    <h3 class="list-title">4. Como criar uma BM e configurá-la
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/5. Como se familiarizar com o gerenciador de anúncios.mp4" class="list-video"></video>
                    <h3 class="list-title">5. Como se familiarizar com o gerenciador de anúncios
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/6. Quais são os objetivos de campanhas.mp4" class="list-video"></video>
                    <h3 class="list-title">6. Quais são os objetivos de campanhas
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/7. Qual a diferença de CBO para ABO.mp4" class="list-video"></video>
                    <h3 class="list-title">7. Qual a diferença de CBO para ABO
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/8. O que é público de interesse e como usar.mp4" class="list-video"></video>
                    <h3 class="list-title">8. O que é público de interesse e como usar
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/9. Quais são os posicionamentos e quais usar.mp4" class="list-video"></video>
                    <h3 class="list-title">9. Quais são os posicionamentos e quais usar
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/10. Como funciona a Geolocalização.mp4" class="list-video"></video>
                    <h3 class="list-title">10. Como funciona a Geolocalização
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/11. Como criar um anúncio numa campanha.mp4" class="list-video"></video>
                    <h3 class="list-title">11. Como criar um anúncio numa campanha
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/12. Validação de criativos [1-2-3 (ABO)].mp4" class="list-video"></video>
                    <h3 class="list-title">12. Validação de criativos [1-2-3 (ABO)]
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/13. Validação de criativos [1-1-3 (ABO)].mp4" class="list-video"></video>
                    <h3 class="list-title">13. Validação de criativos [1-1-3 (ABO)]
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/14. Validação de criativos [1-1-1 (CBO)].mp4" class="list-video"></video>
                    <h3 class="list-title">14. Validação de criativos [1-1-1 (CBO)]
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/15. Validação de públicos.mp4" class="list-video"></video>
                    <h3 class="list-title">15. Validação de públicos
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/16. Escala de Campanha 1 [1-2-2 (CBO)].mp4" class="list-video"></video>
                    <h3 class="list-title">16. Escala de Campanha #1 [1-2-2 (CBO)]
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/17. Escala de Campanha 2 [1-4-1 (CBO)].mp4" class="list-video"></video>
                    <h3 class="list-title">17. Escala de Campanha #2 [1-4-1 (CBO)].mp4"
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/18. Escala de Campanha 3 [1-5-2 (ABO)].mp4" class="list-video"></video>
                    <h3 class="list-title">18. Escala de Campanha #3 [1-5-2 (ABO)]
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/19. Como analisar métricas.mp4" class="list-video"></video>
                    <h3 class="list-title">19. Como analisar métricas
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/20. O que é anúncio saturado.mp4" class="list-video"></video>
                    <h3 class="list-title">20. O que é anúncio saturado
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/21. O que fazer se o CPA está alto.mp4" class="list-video"></video>
                    <h3 class="list-title">21. O que fazer se o CPA está alto
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/22. O que fazer se o CPM está alto.mp4" class="list-video"></video>
                    <h3 class="list-title">22. O que fazer se o CPM está alto
                    </h3>
                </list>
            
                <list>
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/08. Tráfego Pago/23. Como aumentar seu CTR.mp4" class="list-video"></video>
                    <h3 class="list-title">23. Como aumentar seu CTR
                    </h3>
                </list>
            
            </video-playlist-holder>
        
        </video-holder>
    </home>

    <script src="../../playlist.js"></script>
</body>
</html>