


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../playlist.css">
        <link rel="stylesheet" href="../../css-js/ckin.css">
    </head>
<body>

    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 1 BÔNUS Tráfego Pago AVANÇADO com Hytallo/Recado sobre o bônus.mp4" loop  class="main-video" data-overlay="1" data-color="#ffab00" data-ckin="compact" ></video>
                <h3 class="main-vid-title">Recado sobre o bônus
                </h3>
            </main-video-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 1 BÔNUS Tráfego Pago AVANÇADO com Hytallo/Recado sobre o bônus.mp4" class="list-video"></video>
                    <h3 class="list-title">Recado sobre o bônus
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 1 BÔNUS Tráfego Pago AVANÇADO com Hytallo/Os segredos para criar anúncios no FB Ads.mp4" class="list-video"></video>
                    <h3 class="list-title">Os segredos para criar anúncios no FB Ads
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 1 BÔNUS Tráfego Pago AVANÇADO com Hytallo/Funis que aumentam instantaneamente seu lucro.mp4" class="list-video"></video>
                    <h3 class="list-title">Funis que aumentam instantaneamente seu lucro
                    </h3>
                </list>
            
            </video-playlist-holder>
        
        </video-holder>
        <materials-holder>
            <materials>
                <h2>Materiais</h2>
                <l href="https://docs.google.com/spreadsheets/d/1Z4heTFtSaJOsgucK-xsRf_yZIU6hU1qeURwvck3TeFE/edit?usp=sharing">[PLANILHA] Os segredos para criar anúncios no FB Ads</l>
                <l href="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 1 BÔNUS Tráfego Pago AVANÇADO com Hytallo/Cenários de Anúncios - DNA Milionário.xlsx">Cenários de Anúncios - DNA Milionário.xlsx</l>
                <l href="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 1 BÔNUS Tráfego Pago AVANÇADO com Hytallo/Os segredos para criar anúncios no FB Ads.pdf"></l>
                
                <l href="https://www.mindmeister.com/pt/map/2077796429?t=aU35VzzouD">[MAPA MENTAL] Funis que aumentam instantaneamente seu lucro</l>
                <l href="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 1 BÔNUS Tráfego Pago AVANÇADO com Hytallo/Funis Milionários 🧬.rtf">Funis Milionários 🧬.rtf</l>
                <l href="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 1 BÔNUS Tráfego Pago AVANÇADO com Hytallo/Funis Milionários 🧬.mind">Funis Milionários 🧬.mind</l>
            </materials>
        </materials-holder>
    </home>

    <script src="../../playlist.js"></script>
    <script src="../../css-js/ckin.js"></script>
</body>
</html>