


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../playlist.css">
    </head>
<body>

    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 4 BONUS Calls com convidados/Call de Bônus - Artur Ribas.mp4" loop controls class="main-video" data-overlay="1" data-color="#ffab00" data-ckin="compact" ></video>
                <h3 class="main-vid-title">Call de Bônus - Artur Ribas
                </h3>
            </main-video-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 4 BONUS Calls com convidados/Call de Bônus - Artur Ribas.mp4" class="list-video"></video>
                    <h3 class="list-title">Call de Bônus - Artur Ribas
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 4 BONUS Calls com convidados/Call de Bônus - Sanchão.mp4" class="list-video"></video>
                    <h3 class="list-title">Call de Bônus - Sanchão
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 4 BONUS Calls com convidados/Call de Bônus - João Campos.mp4" class="list-video"></video>
                    <h3 class="list-title">Call de Bônus - João Campos
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 4 BONUS Calls com convidados/Call de Bônus - Lilo Henrique.mp4" class="list-video"></video>
                    <h3 class="list-title">Call de Bônus - Lilo Henrique
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 4 BONUS Calls com convidados/Call de Bônus - Édipo Tolentino.mp4" class="list-video"></video>
                    <h3 class="list-title">Call de Bônus - Édipo Tolentino
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 4 BONUS Calls com convidados/Call de Bônus - Thiago Finch.mp4" class="list-video"></video>
                    <h3 class="list-title">Call de Bônus - Thiago Finch
                    </h3>
                </list>
            
            </video-playlist-holder>
        
        </video-holder>
        <materials-holder>
            <materials>
            </materials>
        </materials-holder>
    </home>

    <script src="../../playlist.js"></script>
</body>
</html>