


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../playlist.css">
    </head>
<body>

    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/" loop controls class="main-video"></video>
                <h3 class="main-vid-title">
                </h3>
            </main-video-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/" class="list-video"></video>
                    <h3 class="list-title">
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/" class="list-video"></video>
                    <h3 class="list-title">
                    </h3>
                </list>
            
            </video-playlist-holder>
        
        </video-holder>
        <materials-holder>
            <materials>
                <h2>Materiais</h2>
                <l href="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/"></l>
            </materials>
        </materials-holder>
    </home>

    <script src="../../playlist.js"></script>
</body>
</html>