


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>playlist</title>
        <link rel="icon" href="logo.svg" type="image/svg+xml">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../playlist.css">
    </head>
<body>

    <home>
        <video-holder> 
        
            <main-video-holder>
                <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 1 - Como Escolher o Nicho.mp4" loop controls class="main-video" data-overlay="1" data-color="#ffab00" data-ckin="compact" ></video>
                <h3 class="main-vid-title">[FRONT-END] 1 - Como Escolher o Nicho
                </h3>
            </main-video-holder>

            <materials-holder>
                <materials>
                    <h2>Materiais</h2>
                    <l href="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 5 - Script Milionario para VSL 29 Passos - CAIXA PRETA.pdf">[FRONT-END] 5 - Script Milionario para VSL 29 Passos - CAIXA PRETA.pdf</l>
                    <l href="https://docs.google.com/document/d/1hm46_sduyNGDoWdiyIjmA5QacNfo06hpKEC8fB4hV_8/edit?usp=sharing">[FRONT-END] 7.1 - Editando VSL Por Conta Própria parte 1</l>
                    <l href="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/AULA VSL.pdf">AULA VSL.pdf</l>
                    <l href="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/AULA VSL.docx">AULA VSL.docx</l>
                    <l href="https://atomicat.com.br/"></l>
                </materials>
            </materials-holder>
            
            <video-playlist-holder>
            
                <list class="active">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 1 - Como Escolher o Nicho.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 1 - Como Escolher o Nicho
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 2 - Procurar e Analisar Seus Concorrentes.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 2 - Procurar e Analisar Seus Concorrentes
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 3 - Pensar na Promessa da VSL.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 3 - Pensar na Promessa da VSL
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 4 - Analisar se você consegue entregar o que será prometido na VSL.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 4 - Analisar se você consegue entregar o que será prometido na VSL
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 5 - Como Escrever o VSL.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 5 - Como Escrever o VSL
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 6 - Enivar o texto do VSL para o narrador.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 6 - Enivar o texto do VSL para o narrador
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 7 - Como editar o vídeo do VSL.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 7 - Como editar o vídeo do VSL
                    </h3>
                </list>
                
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 7.1 - Editando VSL Por Conta Própria parte 1.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 7.1 - Editando VSL Por Conta Própria parte 1
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 7.2 - Editando VSL Por Conta Própria parte 2.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 7.2 - Editando VSL Por Conta Própria parte 2
                    </h3>
                </list>

                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 8 - Como criar página de vendas.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 8 - Como criar página de vendas
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 8.1 - Subindo Página de Vendas (método fácil parte 1).mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 8.1 - Subindo Página de Vendas (método fácil parte 1)
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 8.2 - Subindo Página de Vendas (método fácil parte 2).mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 8.2 - Subindo Página de Vendas (método fácil parte 2)
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 8.3 - Subindo Página de Vendas (método difícil) + Revisando as páginas.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 8.3 - Subindo Página de Vendas (método difícil) + Revisando as páginas
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 9 - Como subir o video no Vturb.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 9 - Como subir o video no Vturb
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 9.1 - Subindo VSL no VTurb.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 9.1 - Subindo VSL no VTurb
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[FRONT-END] 10 - Finalizar a página de vendas.mp4" class="list-video"></video>
                    <h3 class="list-title">[FRONT-END] 10 - Finalizar a página de vendas
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[CONFIGURAÇÕES] 1 - Criando conta na Kiwify.mp4" class="list-video"></video>
                    <h3 class="list-title">[CONFIGURAÇÕES] 1 - Criando conta na Kiwify
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[CONFIGURAÇÕES] 2 - Subindo produto na Kiwify.mp4" class="list-video"></video>
                    <h3 class="list-title">[CONFIGURAÇÕES] 2 - Subindo produto na Kiwify
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[CONFIGURAÇÕES] 3 - Diagramando Ebook no Canva.mp4" class="list-video"></video>
                    <h3 class="list-title">[CONFIGURAÇÕES] 3 - Diagramando Ebook no Canva
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[CONFIGURAÇÕES] 4 - Configurando o checkout builder.mp4" class="list-video"></video>
                    <h3 class="list-title">[CONFIGURAÇÕES] 4 - Configurando o checkout builder
                    </h3>
                </list>
            
                <list class="">
                    <video src="../../../src/1 FORMAÇÃO MILIONÁRIA 2.0/W 6 BONUS CAIXA PRETA DO PLR/[CONFIGURAÇÕES] 5 - Comprando o produto e acessando área de membros.mp4" class="list-video"></video>
                    <h3 class="list-title">[CONFIGURAÇÕES] 5 - Comprando o produto e acessando área de membros
                    </h3>
                </list>
            
            
            </video-playlist-holder>
        
        </video-holder>

    </home>

    <script src="../../playlist.js"></script>
</body>
</html>